---
import { Image } from 'astro:assets';
import { title } from '../config';
import bromleyImageFive from '../images/bromley-5.png';
import arrowImage from '../images/arrow.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{ title }</title>

        <style>
            @font-face {
                font-family: Maria;
                src: url("/Maria.ttf") format("truetype");
            }

            @font-face {
                font-family: ABCBingo;
                src: url("/ABCBingo-Bold-Trial.otf") format("opentype");
            }
        </style>
	</head>
	<body class="bg-background">
        <div class="">

            {/* Header */}

            <div class="flex flex-row justify-center items-center min-h-screen">
                <div>
                    <span class="inline-block h-full text-xl font-body uppercase font-medium align-middle">
                        Hepburn Springs
                    </span>
                    <h1 class="text-6xl font-display uppercase">{ title }</h1>
                    <span class="text-xl font-body uppercase font-medium" href="/book">
                        Coming Soon
                    </span>
                </div>
            </div>
        </div>
	</body>
</html>
