---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets';
import { title } from '../config';
import bromleyImageFive from '../images/bromley-5.png';
import arrowImage from '../images/arrow.svg';
---

<Layout>
    <div class="flex flex-row justify-center items-center min-h-fit my-16">
        <div>
            <span class="inline-block h-full text-xl font-body uppercase font-medium align-middle">
                Hepburn Springs
            </span>
            <h1 class="text-6xl font-display uppercase">{ title }</h1>
            <span class="text-xl font-body uppercase font-medium" href="/book">
                Coming Soon
            </span>
        </div>
    </div>
</Layout>
