---
import { Image } from 'astro:assets';
import aboriginalFlag from '../images/aboriginal-flag.svg'
---
<div">
    <div class="text-center mb-4">
        <a href="/contact">Contact</a>
        |
        <a href="/privacy">Privacy</a>
        |
        <a href="/terms">Terms & Conditions</a>
    </div>
    <Image class="m-auto w-6 mb-4" src={ aboriginalFlag } alt="Australian Aboriginal flag" />
    <div class="text-center text-xs px-16">
        We acknowledge the Dja Dja Wurrung as the Traditional Owners of the lands and waters on which we live and work. We pay our deepest respects to Elders past, present and emerging and extend our respect to Aboriginal and Torres Strait Islander people from all nations of this land. Always was, always will be Aboriginal land.
    </div>
<div>
