---
const { class: className, id } = Astro.props;
---

<h2
    class:list={[
        "my-4 md:my-8 text-center text-3xl md:text-5xl font-display uppercase",
        className,
    ]}
    id={id}
>
    <slot />
</h2>
