---
const { title } = Astro.props;
---
<div class="p-4 w-full flex justify-between mb-16">
    <div class="md:text-xl font-body uppercase font-medium flex-grow basis-1/4"><a class="hover:border-b-4 active:bg-black active:text-background" href="#hepburn-springs">Hepburn Springs</a></div>
    <h1 class="text-4xl md:text-6xl font-display uppercase basis-1/2 text-center"><a href="/">{ title }</a></h1>
    <div class="md:text-xl font-body uppercase font-medium flex-grow text-right basis-1/4"><a class="hover:border-b-4 active:bg-black active:text-background" href="/book">Book Now</div>
</div>
